@import '~antd/dist/antd.css';

.d-block {
    display: block
}

.row-centered {
    display: flex;
    justify-content: center
}

.p-32    {
    padding: 32px;
}
.m-6 {
    margin: 6px;
}
.m-16 {
    margin: 16px;
}
.mt-12 {
    margin-top: 12px;
}
.mb-12 {
    margin-bottom: 12px;
}

.m-6-childs > * {
    margin-top: 6px;
    margin-bottom: 6px;
}

.w-100 {
    width: 100%;
}